<nav
    class=" py-2 Container-nav h-100 d-flex flex-wrap justify-content-between flex-lg-column align-items-lg-center justify-content-lg-between rounded-3 pt-lg-3 px-3 px-lg-0 mt-3">
    <div class="LogoMovie__block d-none d-lg-block position-absolute text-white mt-2"
        [routerLink]="goToSpecificRoute(routes.PRINCIPAL_PAGE)"><img src="assets/Movie.png" alt="movie"></div>
    <div class="d-block d-lg-none  text-white mt-2"><img src="assets/Movie.png" alt=""></div>
    <div class="Container-nav-svg flex-wrap d-flex flex-lg-column align-items-center mt-lg-5 pt-lg-5 gap-lg-4 gap-3">
        <a [routerLink]="goToSpecificRoute(routes.PRINCIPAL_PAGE)" routerLinkActive="active" #svg="routerLinkActive">
            <img src="assets/icon-nav-home.svg" alt="" class="Nav-svg img-fluid" [class.active]="svg.isActive"></a>

        <a [routerLink]="goToSpecificRoute(routes.MOVIES_PAGE)" routerLinkActive="active" #svg2="routerLinkActive">
            <img [class.active]="svg2.isActive" src="assets/icon-nav-movies.svg" alt="" class="Nav-svg"></a>

        <a [routerLink]="goToSpecificRoute(routes.TV_SERIES_PAGE)" routerLinkActive="active" #svg3="routerLinkActive">
            <img [class.active]="svg3.isActive" src="assets/icon-nav-tv-series.svg" alt=""
                class="Nav-svg img-fluid"></a>

        <a [routerLink]="goToSpecificRoute(routes.BOOKMARKED)" routerLinkActive="active" #svg4="routerLinkActive">
            <img [class.active]="svg4.isActive" src="assets/icon-nav-bookmark.svg" alt="" class="Nav-svg"></a>
    </div>
    <div class="d-flex align-items-center">
        <h5 class="text-light my-auto"> {{usuario.email.slice(0,6) | titlecase}}</h5>
    </div>
    <div class="Container__img Container-user-img mb-lg-5" (click)="logout()">
        <img src="assets/image-avatar.png" alt="" class="">
    </div>
</nav>