.Results-trending-row{
 
    max-height:18rem;
   }
   

   .Results-trending-img{
        max-height:17rem;    
   }
   
   .Results-trending-card{
       max-width:35rem; /* para modificar porque es trending*/
   }
   
   .Results-trending-ul{
       font-size: var(--textBodyM);
       opacity: 0.9;
   }
   
   .Results-trending-ul li:first-child{
       list-style:none;
   }
   
   .Results-trending-ul + h2{
       font-size: var(--textS);
       letter-spacing: 1px;
   }
   
   