.Results-h2{
    font-size: var();
}
/* .Results-card{
    max-width:35rem;
} */

.Results-caption{
    background: var(--blueHard);
}

.Results-ul{
    font-size: var(--textBodyM);

}

.Results-ul li:first-child{
    list-style:none;
}

.Results-ul + h2{
    font-size: var(--textXS);
    letter-spacing: 1px;
}





