.Results-h2 {
  font-size: var();
}

.Results__img--hover {
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -55px;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  display: none;
}

.activo {
  display: block;
}

.Results__block:hover {
  cursor: pointer;
}

.Results__block:hover img {
  opacity: 0.5;
}

.Results__block__play img {
  padding: 2px;
  border-radius: 2rem;
}

.Results__h5 {
  font-size: var(--textXS);
}

.Results-caption {
  background: var(--blueHard);
  flex-wrap: wrap;
}

.Results-contsvg {
  background: black;
  opacity: 0.5;
}

.Results-contsvg:hover {
  background: white;
}

.Results-contsvg:hover {
  cursor: pointer;
}

.Results-svg {
  fill: gold;
}

.Results-ul {
  font-size: var(--textBodyM);
  flex-wrap: wrap;
}

.Results-ul li:first-child {
  list-style: none;
}

.Results-ul + h2 {
  font-size: var(--textXS);
  letter-spacing: 1px;
}

.svg-fill {
  fill: white;
}

@media only screen and (min-width: 2250px) {
  .Results-row {
    max-width: 2250px;
    margin: auto;
  }
}
